<%= form_with(model: holiday, local: true) do |form| %>
  <% if holiday.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(holiday.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% holiday.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :attendance_date, class: "form-label" %>
    <%= form.date_field :attendance_date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save Holiday", class: "btn btn-primary" %>
  </div>
<% end %>
