<h1>Holiday Details</h1>
 <%= link_to 'Back', holidays_path , class: "btn btn-info back-btn" %>
<p><strong>Name:</strong> <%= (@holiday.title).titlecase %></p>
<p><strong>Date:</strong> <%= (@holiday.attendance_date)    %></p>


<%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_holiday_path(@holiday), class: 'btn btn-primary' %>
<%= link_to '<i class="fas fa-trash"></i>'.html_safe, @holiday, method: :delete, data: {turbo_method: :delete, }, class: 'btn btn-danger' %>
