<h1>////</h1>
<%= form_with(model: @users, action: 'update') do |form| %>
    <%# <% binding.pry %> 
    
    <%= form.label :name %><br />
    <%= form.text_field :name, autocomplete: "name" %>

    <%# <%= f.select(:role, User.roles.keys) %> 
    <%= form.select :role, User.roles.keys.map {|key| [key.humanize, key]}%>
    <%# <%= f.select(:role, User.roles.keys) %> 
    <%= form.select :department, User.departments.keys.map {|key| [key.humanize, key]}%>
    <%= form.button :submit %>

    
    <%= link_to "Back to user", users_path %>  
<%end%>