<div class="row justify-content-center">
  <div class="col-md-9">
    <h1>Updating</h1>
    <%= form_with(model: @users, action: 'update') do |form|  %>
      
      <% if @users.errors.any? %>
        <div id="error_explanation">
          
          <ul>
            <%# <p>Error: <%= report.errors.full_messages_for(:base)[0]%>
            <%# <p>Error: <%= report.errors.full_messages[0]%>
            <% @users.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= link_to 'Back', root_path, class: "btn btn-info back-btn" %>
      

      <div class="card shadow"> <!-- Add 'shadow' class here -->
        <div class="card-body">
          <div class="mb-3">
            <%= form.label :name, { class: "form-label" } %>
            <%= form.text_field :name, { class: "form-control", placeholder: "Name", required: true, autocomplete: "name" } %><br />
          </div>
          <div class="mb-3">
            <%= form.label :dob, { class: "form-label" } %>
            <%= form.date_field :dob, { class: "form-control", placeholder: "Date of Birth", autocomplete: "dob" } %><br />
          </div>
          <div class="mb-3">
            <%= form.label :address, { class: "form-label" } %>
            <%= form.text_area :address, { class: "form-control", placeholder: "Address", autocomplete: "address" } %><br />
          </div>
          <div class="mb-3">
            <%= form.label :contact, { class: "form-label" } %>
            <%= form.text_field :contact, { class: "form-control", placeholder: "Contact", autocomplete: "contact" }%><br />
          </div>  
          <div class="mb-3">
            <%= form.label :image, { class: "form-label" } %>
            <%= form.file_field :image %><br />
          </div>                     
          <% if current_user.super_admin? or current_user.company_admin? %>
            <%if not current_user.id == params[:id].to_i %>
                  <% #binding.pry %>
              <div class="mb-3">    
                <%# <%= f.select(:role, User.roles.keys) %> 
                <%= form.select :role, User.roles.keys.map {|key| [key.humanize, key]}%>
                <%# <%= f.select(:role, User.roles.keys) %> 
              </div>
              <div class="mb-3">
                <%= form.label :designation_id, { class: "form-label" } %>
                <%= form.collection_select :designation_id, Designation.all, :id, :name , { class: "form-control", prompt: "Select a project", autocomplete: "dob" } %><br />
              </div>
            <% end %>
          <%end%>  
          <div class="mb-3">
            <%= form.label :department_id, { class: "form-label" } %>
            <%= form.collection_select :department_id, Department.all, :id, :title , { class: "form-control", prompt: "Select a project", autocomplete: "dob" } %><br />
          </div>

          <%= form.button :submit %>
        </div>
      </div>

    <% end %>
  </div>
</div>
