<body>
 <%= link_to 'Back', root_path , class: "btn btn-info back-btn" %>
<div class="container">
    <h1>User List</h1>

    <%# <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" id="hide">Hide Users</button>
            <button class="btn btn-primary" id="show">Show Users</button>
        </div>
    </div> %>

    <br>
    <%= paginate @users %>
    <%= link_to 'Create New User', new_user_path ,class:"btn btn-primary"%> <br><br>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                            <td><%= user.role %></td>
                            <td><%= link_to 'Edit Role', edit_user_path(user), class: 'btn btn-sm btn-secondary' %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>


</div>



<%# <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("table").toggle();
        });
        $("#show").click(function(){
            $("table").show();
        });
    });
</script> %>

</body>
</html>
