<h1>User List</h1>

<br>
    <%= link_to 'Create New User', new_user_path %> <br><br>
    <%= paginate @users %>
    <% @users.each do |user| %>
        <%= user.id %> | 
        <%= user.email %> | 
        <%=  user.role%> | 
        <%= link_to 'edit role', edit_user_path(user) %>
        <br>

    <br> 

<% end %>
