<body>
 <%= link_to 'Back', root_path , class: "btn btn-info back-btn" %>
<div class="container">

    <h1>User List</h1>

        <%= search_form_for @q do |f| %>  
      <div class="mb-2">
        <%= f.label :email_cont, class: "form-label" %>
        <%= f.search_field :email_cont, class: "form-control" %>
      </div>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
 <%# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" id="hide">Hide Users</button>
            <button class="btn btn-primary" id="show">Show Users</button>
        </div>
    </div>
<button id="btnHide">Hide</button>
<button id="btnToggle">Toggle</button> %>


    <br>

    <%= link_to 'Create New User', new_user_path ,class:"btn btn-primary"%> <br><br>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                            <td><%= user.role %></td>
                            <td>
                                <% if user.is_active %>
                                    <span class="status-icon active">✅</span>
                                <% else %>
                                    <span class="status-icon inactive">❌</span>
                                <% end %>
                            </td>
                            <td><%= link_to 'Edit User', edit_user_path(user), class: 'btn btn-sm btn-secondary' %> | 
                            <%# <%= link_to 'Soft Delete', soft_delete_user_path(user), method: :delete , data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-secondary'%>
                            <%= link_to '<i class="fas fa-trash"></i>'.html_safe, soft_delete_user_path(user), method: :delete, data: {turbo_method: :delete, }, class: 'btn btn-danger' %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <%= paginate @users %>
</div>





</body>
<%# <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("table").toggle();
        });
        $("#show").click(function(){
            $("table").show();
        });
    });
$(document).ready(function() {
  // Hide the target element on click of "btnHide" and show "btnToggle"
  $("#btnHide").on("click", function() {
    $(this).hide();
    $("#btnToggle").show();
  });

  // Hide the target element on click of "btnToggle" and show "btnHide"
  $("#btnToggle").on("click", function() {
    $(this).hide();
    $("#btnHide").show();
  });
});
</script> %>
</html>
