<h1>Admin</h1>

<%if current_user.super_admin? || current_user.company_admin?%>
    
    <% @users.each do |user| %>
        <%= user.email %> | 
        <%=  user.role%> | 
        <%= link_to 'edit role', edit_user_path(user) %>
        <br>

    <% end %>
    <br> 
    <%= link_to 'Create New User', new_user_path %> | 
    <%= link_to 'home', root_path%>
<% end %>
<%= paginate @users %>