<body>
 <%= link_to 'Back', root_path , class: "btn btn-info back-btn" %>
<div class="container mt-4 custom-box">
<div class="row justify-content-center">
    <div class="col-md-9">
  <div class="widget-content widget-content-area p-15">
    <h2 >Create User</h2>

    <%= form_with model: @user do |f| %>

        <div class="form-group">
          <%= f.label :email %><br />  
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          <% if @user.errors[:email].any? %>
            <div class="error">

            <%= "Email " + @user.errors[:email].join(', ') %>
            </div>
          <%end%>
        </div>

        <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @user.errors[:password].any? %>
              <div class="error">

                <%= "password " + @user.errors[:password].join(', ') %>
              </div>
            <%end%>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          <% if @user.errors[:password_confirmation].any? %>
            <div class="error">

            <%= "password_confirmation " + @user.errors[:password_confirmation].join(', ') %>
            </div>
          <%end%>
        </div>
        <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
            <%if @user.errors[:name].any?%>
              <div class="error">
                      
                <%= "name " + @user.errors[:name].join(', ') %>

              </div>
            <%end%>
        </div>

                    <div class="form-group">    
                    <%= f.label :Role %><br />
              <%# <%= f.select(:role, User.roles.keys) %> 

              <%=  f.select :role, options_for_select(User.roles.map { |v, key| [v.humanize, key.to_i] if key.to_i < 3 }.compact) %>
              <%# <%= f.select(:role, User.roles.keys) %> 
            </div>




        <div class="form-group">
            <%= f.label :department_id ,{ class: "form-label"} %>
            <%= f.collection_select :department_id, Department.all, :id, :title, { class: "form-control", prompt: "Select a department" } %>
        </div>

        <div class="form-group">
            <%= f.label :designation_id ,{ class: "form-label"} %>
            <%= f.collection_select :designation_id, Designation.all, :id, :name, { class: "form-control", prompt: "Select a designation" } %>
            <%if @user.errors[:designation].any?%>
              <div class="error">
                      
                <%= "Designation " + @user.errors[:designation].join(', ') %>

              </div>
            <%end%>
        </div>
        <div class="form-group">
          <%= f.label :time_zone,{ class: "form-label"} %>
           <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, { class: "form-control", prompt: "Select a designation" } %>
        </div>


        <%= f.hidden_field :created_by, { class: "form-label", value: current_user.id } %>

        <div class="form-group">
            <%= f.submit "Create User", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
  </div>
  </div>
</div>

<!-- Include the Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
