<h1>Department#index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= (department.title).titlecase %></td>
        <td><%= link_to 'Show', department %></td>
        <td> | <%= link_to 'Edit', edit_department_path(department) %></td>
        <td> | <%= link_to 'Destroy', department, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New department', new_department_path %>