<!-- app/views/home/index.html.erb -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if user_signed_in? %>
        <div class="card mb-4">
          <div class="card-body">
            <%# Are you admin? <%= current_user.super_admin? or current_user.company_admin?%> <br>
            Name : <%= current_user.name %> <br>
            Id : <%= current_user.id %> <br>
            Role : <%= current_user.role %> <br>
            <% if not current_user.department_id == nil%>
              Department : <%= Department.find(current_user.department_id).title %> <br>
              Designation : <%= Designation.find(current_user.designation_id).name %> <br>
            <% end %>

            <%= link_to 'Edit', edit_user_path(current_user), class: 'btn btn-primary mb-2 me-2' %>

            <% if current_user.super_admin? or current_user.company_admin?%>
              <%= link_to 'Users List', users_path, class: 'btn btn-primary mb-2 me-2' %>
              <%= link_to 'Create New User', new_user_path, class: 'btn btn-primary mb-2 me-2' %>
            <% end %>
            
            <%# <%= link_to 'Change Password', edit_user_password_path, class: 'btn btn-secondary' %>

            <%# <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: {
              turbo_method: :delete,
              confirm: "Are you sure you want to logout?"
            }, class: 'btn btn-danger mb-2' %>
            <%# <%= link_to 'Add Work Report', daily_work_reports_path, class: 'btn btn-primary' %> 
          </div>
        </div>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
