<!DOCTYPE html>
<html>
<head>
  <title>Other Chech_In/Check_Out Records</title>
  <!-- Add Bootstrap 5 CSS -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <%= link_to 'Back', root_path , class: "btn btn-info back-btn" %>
  <h1> Other Chech_In/Check_Out Records </h1>
  <%
  #binding.pry
  %>

  <%# <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("table").toggle();
        });
        $("#show").click(function(){
            $("table").show();
        });
    });
</script> %>
    <%# <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" id="hide">Hide Users</button>
            <button class="btn btn-primary" id="show">Show Users</button>
        </div>
    </div> %>

  <br>
  <%# <%a = Date.today - 5.day
  <%b = Date.today
  <%s = DailyWorkReport.where(user_id:current_user.id)
  <%= s.where(:current_date => a..b).pluck(:current_date).sort %>
  <% 
  # binding.pry
  %>
<%# <button id="btnHide">Hide</button>
<button id="btnToggle">Toggle</button> %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>User_id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Chech_In</th>
        <th>Check_Out</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <% @check_in_outs.each do |attendance| %>
        <tr>
          <td><%= attendance.user_id %></td>
          <td><%= User.find(attendance.user_id).name %></td>
          <td><%= attendance.attendance_date %></td>
          <td><%= attendance.check_in %></td>
          <td><%= attendance.check_out %></td>
          <td><%= attendance.work_hours %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Add Bootstrap 5 JS (Optional, only required for certain Bootstrap features) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

