<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.text_field :user_id, class: "form-control", disabled: true %>
  </div>

  <div class="mb-3">
    <%= form.label :to, class: "form-label" %>
    <%= form.text_field :too, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cc, class: "form-label" %>
    <%= form.text_field :cc, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save Email", class: "btn btn-primary" %>
  </div>
<% end %>
