<h1>New Email Hierarchy</h1>

 <%= link_to 'Back', email_hierarchy_index_path , class: "btn btn-info back-btn" %> 
<%= form_with(model: @email_hierarchy, url: email_hierarchy_index_path, method: :post, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.text_field :user_id, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :to, class: "form-label" %>
    <%= form.text_field :too, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :cc, class: "form-label" %>
    <%= form.text_field :cc, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save Email Hierarchy", class: "btn btn-primary" %>
  </div>
<% end %>


