<h1>Daily Work Reports</h1>
<%= search_form_for @q do |f| %>
  <div>
    <%= f.label :project_name_or_current_date %>
    <%= f.search_field :project_name_or_current_date_cont %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
<br>

<%= link_to 'Add New Daily Work Report', new_daily_work_report_path, class: "btn btn-primary" %>

<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align: center">User_id</th>
      <th style="text-align: center">Date</th>
      <th style="text-align: center">Project</th>
      <th style="text-align: center">Hours</th>
      <th style="text-align: center">Status</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_work_reports.each do |report| %>
      <tr>
        <td style="text-align: center"><%= report.user_id %></td>
        <td style="text-align: center"><%= report.current_date %></td>
        <td style="text-align: center"><%= report.project.name %></td>
        <td style="text-align: center"><%= report.hours %></td>
        <td style="text-align: center"><%= report.status %></td>
        <td style="text-align: center">
          <%= link_to 'Show', report, class: 'btn btn-secondary' %> |
          <%= link_to 'Edit', edit_daily_work_report_path(report), class: 'btn btn-primary' %> |
          <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
