<!DOCTYPE html>
<html>
<head>
  <title>Daily Work Reports</title>
  <style>


    /* Add any other custom styles here */
  </style>
</head>
<body>
 <%= link_to 'Back', root_path , class: "btn btn-info back-btn" %>
  <h1>Daily Work Reports</h1>

  <%= search_form_for @q do |f|%>
    <div>
      <%= f.label :project_name_or_current_date %>
      <%= f.search_field :project_name_or_current_date_cont %>
      <%= f.submit 'Search', class: "btn-primary" %>
      
    </div>
  <% end %>

  <br>
  <%= link_to 'Add New Daily Work Report', new_daily_work_report_path, class: 'btn btn-primary' %>
  <%if not current_user.employee?%>
    <%= link_to 'Others Work Report', work_check_index_path, class: 'btn btn-primary' %>
  <%end%>
  <br>
  <br>

  <table>
    <thead>
      <tr>
        <th>User_id</th>
        <th>Date</th>
        <th>Project</th>
        <th>Hours</th>
        <th>Task</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @daily_work_reports.each do |report| %>
        <tr>
          <td><%= report.user_id %></td>
          <td><%= report.current_date %></td>
          <td><%= report.project.name %></td>
          <td><%= report.hours %></td>
          <td><%= report.task %></td>
          <td>
            <% if report.status == 'In Progress' %>
              <span class="badge badge-warning">In Progress</span>
            <% elsif report.status == 'Completed' %>
              <span class="badge badge-success">Completed</span>
            <% elsif report.status == 'Pending' %>
              <span class="badge badge-info">Pending</span>
            <% else %>
              <%= report.status %>
            <% end %>
          </td>
          <td>
            <%= link_to '<i class="fas fa-eye"></i>'.html_safe , report, class: 'btn btn-secondary' %>

            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_daily_work_report_path(report), class: 'btn btn-primary' %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe, report, method: :delete, data: {turbo_method: :delete, }, class: 'btn btn-danger' %>
               
        
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>
