<!DOCTYPE html>
<html>
<head>
  <title>Daily Work Reports</title>
  <style>
    /* Add any other custom styles here */
  </style>
</head>
<body>
  <%= link_to 'Back', root_path, class: "btn btn-info back-btn" %>
  <h1>Daily Work Reports</h1>
  
  <% if params["category"] == "other_work_reports" %>
    <%= form_tag daily_work_reports_path(category: "other_work_reports"), method: :get, class: "user-filter-form" do %>
      <%= hidden_field_tag :category, "other_work_reports" %>
      
      <div class="input-group row">
        <div class="col-md-3">
          <h4>User</h4>
          <%= select_tag :selected_user, options_for_select(User.accessible_by(current_ability).pluck(:email, :id), params[:selected_user]), class: "form-control", prompt: "Select a user" %>
        </div>

        <div class="col-md-4">
          <h4>Project</h4>
          <%= select_tag :selected_project, options_for_select(Project.pluck(:name, :id), params[:selected_project]), class: "form-control", prompt: "Select a project" %>
        </div>

        <div class="col-md-2">
          <h4>Start Date</h4>
          <%= date_field_tag :start_date, params[:start_date], class: "form-control", placeholder: "Start Date" %>
        </div>

        <div class="col-md-2">
          <h4>End Date</h4>
          <%= date_field_tag :end_date, params[:end_date], class: "form-control", placeholder: "End Date" %>
        </div>
    
        <div class="col-md-1">
          <button class="btn btn-primary btn-block" type="submit" title="Search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= form_tag daily_work_reports_path, method: :get, class: "user-filter-form" do %>
      
      <div class="input-group row">
        <div class="col-md-4">
          <h4>Project</h4>
          <%= select_tag :selected_project, options_for_select(Project.pluck(:name, :id), params[:selected_project]), class: "form-control", prompt: "Select a project" %>
        </div>

        <div class="col-md-4">
          <h4>Start Date</h4>
          <%= date_field_tag :start_date, params[:start_date], class: "form-control", placeholder: "Start Date" %>
        </div>

        <div class="col-md-3">
          <h4>End Date</h4>
          <%= date_field_tag :end_date, params[:end_date], class: "form-control", placeholder: "End Date" %>
        </div>
    
        <div class="col-md-1">
          <button class="btn btn-primary btn-block" type="submit" title="Search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <br>
  
  <% if params["category"] == "other_work_reports" %>
    <%#binding%>
    <%= link_to 'Add New Daily Work Report', new_daily_work_report_path(category: "other_work_reports"), class: 'btn btn-success' %>
  <% else %>
    <%= link_to 'Add New Daily Work Report', new_daily_work_report_path, class: 'btn btn-success' %>
  <% end %>
  
  <br>
  <br>
  
  <table>
    <thead>
      <tr>
        <th>User_id</th>
        <th>Date</th>
        <th>Project</th>
        <th>Hours</th>
        <th>Task</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @daily_work_reports.each do |report| %>
        <tr>
          <td><%= report.user_id %></td>
          <td><%= report.current_date %></td>
          <td><%= report.project.name %></td>
          <td><%= report.hours %></td>
          <td><%= report.task %></td>
          <td>
            <% if report.status == 'In Progress' %>
              <span class="badge badge-warning">In Progress</span>
            <% elsif report.status == 'Completed' %>
              <span class="badge badge-success">Completed</span>
            <% elsif report.status == 'Pending' %>
              <span class="badge badge-info">Pending</span>
            <% else %>
              <%= report.status %>
            <% end %>
          </td>
          <td>
            <%= link_to '<i class="fas fa-eye"></i>'.html_safe, report, class: 'btn btn-secondary' %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_daily_work_report_path(report), class: 'btn btn-primary' %>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe, report, method: :delete, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
