<div class="container mt-5 text-center">
  <h1>Daily Work Report</h1>
  <%= link_to 'Back', daily_work_reports_path , class: "btn btn-info back-btn" %>
    <p><strong>User_id:</strong> <%= @daily_work_report.user_id %></p>
    <p><strong>Date:</strong> <%= @daily_work_report.current_date %></p>
    <p><strong>Project:</strong> <%= @daily_work_report.project.name %></p>
    <p><strong>Status:</strong> <%= @daily_work_report.status %></p>


  <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_daily_work_report_path(@daily_work_report), class: "btn btn-secondary" %> 
  <%= link_to '<i class="fas fa-trash"></i>'.html_safe, @daily_work_report, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure" }, class: "btn btn-danger", remote: true %>



</div>